<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
    </head>

    <body>
        <header>
            <h1><a href="{{site.baseurl}}/">Welcome to {{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
            <hr />
        </header>

        <nav>

            <h3>First Heading</h3>

            <ul>
                <li><i class="icon-home"></i>   <a href="{{site.baseurl}}/">Home</a></li>
            </ul>

            <h3>Second Heading</h3>

            <ul>
                <li><i class="icon-link"></i>   <a href="#">Link 1</a></li>
                <li><i class="icon-link"></i>   <a href="#">Link 2</a></li>
                <li><i class="icon-link"></i>   <a href="#">Link 3</a></li>
            </ul>
        </nav>

        <main>
            {{ content }}
        </main>

        <footer>
            <hr />
            <p>&copy; <time>2012</time> {{ site.author }}</p>
        </footer>

        <script src="{{site.baseurl}}/scripts.js"></script>
    </body>

</html>