---
layout: page
---
<iframe src="https://rmsforgirls.myschoolportal.co.uk/events-list?iframe=true"></iframe>
<article class="main-post">
	<div class="page-header">
		<h1>{{ page.title }}</h1>
		{% if page.tagline %}<h2 class="hidden-xs">{{page.tagline}}</h2>{% endif %}
		<h3>
			<small>
				Published
			</small>
			{{ page.date | date: '%A %-d %B %Y' }}
		</h3>
		<p class="tags">
			Tags
			{% for tag in page.tags %} 
				<a href="/tag/{{ tag }}">
					{{ tag }}
				</a>
			{% endfor %}
		</p>
	</div>
	<div class="post-full">
		{{ content }}
	</div>
</article>

{% include disqus.html %}
