

@bower-path: "../../bower_components/";

@import "bootstrap";
@import "font-awesome";
@import "google-custom-search";


body {
	padding-bottom: 2em;
	background: url(/assets/background.png) no-repeat center center fixed; 
    background-size: cover;
}

div.bio-column {
	> div {
		margin-top : 1em;

		div.bio-box {
			.well;
			margin-bottom : 0;
			border-radius: 1em;

			div.hobo-egg {
				.text-center;
				margin-bottom : 1em;
			}

			> p:last-child {
				margin-bottom: 0;
			}
		}

		ul.list-group {
			li {
				&:first-child {
					border-top-right-radius : 1em;
					border-top-left-radius : 1em;
				}

				&:last-child {
					border-bottom-right-radius : 1em;
					border-bottom-left-radius : 1em;
				}
			}
		}
	}
}


h4.year {
	position : relative;
	top : 0;
	left : 0;

	div {
		position : absolute;
		top : 20px;
		left : 0;
		transform: rotate(-90deg);
		font-size:2em;
	}
}

article.page-frame {
	background : #FFFFFF;
	border-radius : 1em;
}

article.index-post {
	margin-bottom: 1em;
	
	> div.date {
		small {
			display:block;
		}
	}

	> div.content {
		> h2 {
			margin: 0;

			> a {

			}
		}

		> h3 {
			margin: 0;

		}

		> p {	
			margin: 0;
		}

		> p.date {

		}

		> p.tags {

			> a {

			}

		}
	}

}

div.panel.image {
	div.panel-body {
		.text-center;

		img {
			max-width: 100%;
		}
	}
	div.panel-footer {
		caption {

		}
	}
}


@media (min-width: @screen-md-min) {

	article.page-frame {
		margin-top:2em;
	}

	div.bio-column {
		> div:first-child {
			margin-top : 2em;
		}
	}

}