

@bower-path: "../../bower_components/";

@import "bootstrap";
@import "font-awesome";
@import "google-custom-search";

@media (min-width: @screen-md-min) {

	article.page-frame {
		padding-top:2em;
	}

}

body {
	padding-bottom: 2em;
}

div.bio-column {
	margin-top : 1em;

	div.bio-box {
		margin-bottom : 0;

		div.hobo-egg {
			.text-center;
			margin-bottom : 1em;
		}
	}
}


h4.year {
	position : relative;
	top : 0;
	left : 0;

	div {
		position : absolute;
		top : 20px;
		left : 0;
		transform: rotate(-90deg);
		font-size:2em;
	}
}

article.index-post {
	
	> div.date {
		small {
			display:block;
		}
	}

	> div.content {
		> h2 {
			margin: 0;

			> a {

			}
		}

		> h3 {
			margin: 0;

		}

		> p {	
			margin: 0;
		}

		> p.date {

		}

		> p.tags {

			> a {

			}

		}
	}

}

div.panel.image {
	div.panel-body {
		.text-center;

		img {
			max-width: 100%;
		}
	}
	div.panel-footer {
		caption {

		}
	}
}